.myH1{color: blueviolet; font-family: 'Times New Roman', Times, serif 24pt;text-align: center}
.myImg{width:4in;display: block;margin: auto}
.myH2a{color: deeppink; font-family:'Times New Roman', Times, serif; font-size: 18pt;}
.myH2b{color: rgb(20, 255, 204); font-family:'Times New Roman', Times, serif; font-size: 18pt;}
.mytextfont {font-family: 'Times New Roman', Times, serif; font-weight: bold;font: size 14pt;color:blueviolet}
.myyellowbackground {background: yellow}
.mytextwidth {width:25%}